                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">
                        <form method="POST" action="{{ path(grid_route) }}"><label>Show <select onChange="$(this).parent().parent().submit()" name="page_count" aria-controls="dataTables-example" class="form-control input-sm">
                            {% for num in paginator.optnumpages %}
                                <option {% if paginator.itemsonpage == num %}selected="selected"{% endif %} value="{{ num }}">{{ num }}</option>
                            {% endfor %}
                        </select> lines</label></form>
                    </div>
                </div>
                <div class="col-lg-6"><form>
                <div class="form-group input-group">
              
                                            <input class="form-control" type="text" name="search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div></div>
                </form>
             